MSSQL_SA_PASSWORD=LocalOnly_Passw0rd_123!
MSSQL_HOST_PORT=14333

MaintenancePlanning__Database__Enabled=true
MaintenancePlanning__Database__Server=127.0.0.1,14333
MaintenancePlanning__Database__Database=MaintenancePlanning
MaintenancePlanning__Database__User=sa
MaintenancePlanning__Database__Password=LocalOnly_Passw0rd_123!
MaintenancePlanning__Database__Encrypt=true
MaintenancePlanning__Database__TrustServerCertificate=true
